<form>
  <div class="m-5 form-group">
    <img src="{{card.ImgL}}" alt="" class="img-thumbnail" style="max-width: 340px;display:block;margin:auto;"/>
    <h3 class="card-title" style="text-align: center">
      {{card.Name}}
    </h3>
    <textarea class="form-control" name="card.About" rows="4" [(ngModel)]="card.About"></textarea>
    <ngb-rating style="height: 80px; left: 50em;" [(rate)]="card.Score"></ngb-rating>
    <b [ngStyle]="{color:card.Score>7 ? 'lime' : card.Score>5 ? 'black' : 'red'} ">
      {{card.Score}}/10
    </b>
    <br>
    <button class="btn-primary btn-lg m-3" style="position: absolute;left: 5em;" (click)="edit()">
      Сохранить
    </button>

  </div>
</form>
